.app {
  text-align: center;
  background: gray url(../res/geometry2.png) repeat 0 0;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  height: 150px;
  padding: 30px;
  color:  rgb(4, 44, 49);
}

.appTitleitle {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 80px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=texts], select {
  width: 55%;
  background-color: rgb(137, 137, 141);
  padding: 10px 20px;
  margin-left: -60px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.copyUrl{
  width: 5%;
  background-color: #34337F;
  color: white;
  margin: 0px -45px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  width: 75%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  width: 75%;
  background-color: #db3c0c;
}

input[type=submit] {
  width: 50%;
  background-color: #45a049;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%; 
  color: rgb(4, 44, 49);
  font-size: 14px !important;
}

.outerDiv {
  border-radius: 5px;
  color: #000;
  width: 100%;
  padding: 1px; 
  min-height: 450px;
}
  
.leftDiv {
  border-radius: 5px;
  min-height: 450px;
  width: 49.5%;
  float: left;
}

.rightDiv {
  border-radius: 5px;
  min-height: 450px;
  width: 50.5%;
  float: right;
}

.displayed {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}